@page "/list-course-templates"
@rendermode InteractiveServer

@inject ICourseTemplateService CourseTemplateService
@inject NavigationManager NavigationManager

<PageTitle>Course Templates</PageTitle>
    <h3>Course Templates</h3>

@if (courseTemplates == null)
{
    <p>Loading...</p>
}
else
{

    
}
@code {
    List<CourseTemplateResponse> courseTemplates  = new List<CourseTemplateResponse>();

    protected override async Task OnInitializedAsync()
    {
        var courseTemplates = await CourseTemplateService.CourseTemplatesAllAsync();
    }
}