@page "/course-templates/add"

@inject ICourseTemplateService CourseTemplateService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<h3>Add Course Template</h3>

@if (showSuccessMessage)
{
    <div class="alert alert-success" role="alert">
        Course template added successfully!
    </div>
}

@if (showErrorMessage)
{
    <div class="alert alert-danger" role="alert">
        An error occurred while adding the course template.
    </div>
}


<EditForm Model="@addCourseTemplateRequest" OnValidSubmit="AddCourseTemplate" FormName="AddCourseTemplateForm" >

    <div class="form-group">
        <label for="Title">Title</label>
        <InputText id="Title" class="form-control" @bind-Value="addCourseTemplateRequest.Title" />
    </div>

    <div class="form-group">
        <label for="Description">Description</label>
        <InputText id="Description" class="form-control" @bind-Value="addCourseTemplateRequest.Description" />
    </div>

    <div class="form-group">
        <label for="Code">Code</label>
        <InputText id="Code" class="form-control" @bind-Value="addCourseTemplateRequest.Code" />
    </div>

    <div class="form-group">
        <label for="Level">Level</label>
        <InputNumber id="Level" class="form-control" @bind-Value="addCourseTemplateRequest.Level" />
    </div>

    <div class="form-group">
        <label for="DurationInWeeks">Duration (weeks)</label>
        <InputNumber id="DurationInWeeks" class="form-control" @bind-Value="addCourseTemplateRequest.DurationInWeeks" />
    </div>


    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Add</button>
        <button type="button" class="btn btn-secondary" style="margin-top: 10px;" @onclick="ListCourseTemplates">Back</button>
    </div>

    



</EditForm>

@code {
    private AddCourseTemplateRequest addCourseTemplateRequest = new AddCourseTemplateRequest() 
    {
        Title = "Care L2 2024",
        Description = "Health and Social Care Level 2 2024",
        Code = "HSC2-2024",
        Level = 2,
        DurationInWeeks = 52
    };

    private bool showSuccessMessage = false;

    private bool showErrorMessage = false;

    private async Task AddCourseTemplate()
    {
        var courseTemplate = await CourseTemplateService.AddAsync(addCourseTemplateRequest);

        if (courseTemplate != null)
        {
            showSuccessMessage = true;
            addCourseTemplateRequest = new AddCourseTemplateRequest();
        }
        else
        {
            showErrorMessage = true;
        }
    }

    private void ListCourseTemplates()
    {
        NavigationManager.NavigateTo("course-templates");
    }
}