@page "/learners/add"

@inject ILearnerService LearnerService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Add Learner</PageTitle>

<h3>Add a Learner</h3>

@if (_showSuccessMessage)
{
    <div class="alert alert-success" role="alert">
        Course template added successfully!
    </div>
}

@if (_showErrorMessage)
{
    <div class="alert alert-danger" role="alert">
        An error occurred while adding the course template.
    </div>
}

<EditForm Model="@_addLearnerRequest" OnValidSubmit="AddLearner" FormName="AddLearnerForm">

    <div class="form-group">
        <label for="Forename">Forename</label>
        <InputText id="Forename" class="form-control" @bind-Value="_addLearnerRequest.Forename"/>
    </div>

    <div class="form-group">
        <label for="Surname">Surname</label>
        <InputText id="Surname" class="form-control" @bind-Value="_addLearnerRequest.Surname"/>
    </div>

    <div class="form-group">
        <label for="DateOfBirth">Date of Birth</label>
        <InputDate id="DateOfBirth" class="form-control" @bind-Value="_addLearnerRequest.DateOfBirth"/>
    </div>

    <div class="form-group">
        <label for="Line1">Line 1</label>
        <InputText id="Line1" class="form-control" @bind-Value="_addLearnerRequest.Address.Line1"/>
    </div>

    <div class="form-group">
        <label for="Line2">Line 2</label>
        <InputText id="Line2" class="form-control" @bind-Value="_addLearnerRequest.Address.Line2"/>
    </div>

    <div class="form-group">
        <label for="City">City</label>
        <InputText id="City" class="form-control" @bind-Value="_addLearnerRequest.Address.City"/>
    </div>

    <div class="form-group">
        <label for="County">County</label>
        <InputText id="County" class="form-control" @bind-Value="_addLearnerRequest.Address.County"/>
    </div>

    <div class="form-group">
        <label for="Postcode">Postcode</label>
        <InputText id="Postcode" class="form-control" @bind-Value="_addLearnerRequest.Address.Postcode"/>
    </div>

    <div class="form-group">
        <label for="Email">Email</label>
        <InputText id="Email" class="form-control" @bind-Value="_addLearnerRequest.ContactDetails.Email"/>
    </div>

    <div class="form-group">
        <label for="Phone">Phone Number</label>
        <InputText id="Phone" class="form-control" @bind-Value="_addLearnerRequest.ContactDetails.Phone"/>
    </div>

    <div class="form-group">
        <label for="ContactPreference">Contact Preference</label>
        <InputSelect id="ContactPreference" class="form-control" @bind-Value="_addLearnerRequest.ContactDetails.ContactPreference">
            <option value="Email">Email</option>
            <option value="Phone">Phone</option>
        </InputSelect>
    </div>

    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Add</button>
        <button type="button" class="btn btn-secondary" style="margin-top: 10px;" @onclick="ListLearners">Back</button>
    </div>

</EditForm>


@code {
    AddLearnerRequest _addLearnerRequest = new() { Address = new AddressRequest(), ContactDetails = new ContactDetailsRequest() };
    private bool _showSuccessMessage;
    private bool _showErrorMessage;

    private async Task AddLearner()
    {
        var learner = await LearnerService.LearnersPOSTAsync(_addLearnerRequest);

        if (learner != null)
        {
            _showSuccessMessage = true;
            _addLearnerRequest = new AddLearnerRequest { Address = new AddressRequest(), ContactDetails = new ContactDetailsRequest() };
        }
        else
        {
            _showErrorMessage = true;
        }
    }

    private void ListLearners()
    {
        NavigationManager.NavigateTo("learners");
    }

}